.post {
  border: 1px solid #dbdbdb;
  background-color: #fff;
  border-radius: 3px;
}

.post-header {
  display: flex;
  align-items: center;
  padding: 14px 16px;
  font-weight: 600;
}

.post-avatar {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background-color: #dbdbdb; /* Placeholder color */
  margin-right: 14px;
}

.post-content {
  padding: 0 16px 16px 16px;
}

.post-content p {
  margin: 0;
}

.post-footer {
  padding: 16px;
  border-top: 1px solid #efefef;
}
